#myBox {
    font-size: 4rem;
    background-color: greenyellow;
    padding: 16px;
    width: 100px;
    text-align: center;
    border-radius: 24px;
    position: relative;
    transition: background-color 0.15s;
    z-index: 1;
}

#myImg{
    margin: auto;
    width: 240px;
    display: block;
    transition: opacity 0.5s;
    z-index: 0;
}