body {
    font-family: Arial;
    background-color: gray;
    margin: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    background-color: white;
}

.logo {
    color:rgb(44, 174, 131);
    font-weight: bold;
    text-align: end;
}

.menu {
    list-style: none;
    display: flex;
    gap: 8px;
    color: gray;
    margin: 0;
}

.menuHover {
    cursor: pointer;
    text-decoration: underline;
    color: rgb(91, 91, 91)
}